:root {
  --color-primary: #01042F;
  --color-button: #020F89;
  --color-white: #fff;
  --color-black: #000;
  --font-size: 1.6rem;
  --font: 'Oswald', sans-serif;
  --background: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e6e6e6;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

/*== The header ==*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  font-family: var(--font);
  border-bottom: 1px solid #000;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  width: 190px;
}

.navbar__menu {
  display: flex;
  gap: 4rem;
}

.navbar__menu li {
  list-style: none;
}

.navbar__menu a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-black);
  font-size: 1.9rem;
}

.navbar__menu a:hover {
  text-decoration: underline;
}

#check, .checkbtn {
  display: none;
}

/*== The Hero ==*/

.hero {
  background: rgb(25,13,227);
  background: linear-gradient(93deg, rgba(25,13,227,1) 31%, rgba(6,33,185,1) 64%);
  color: var(--color-white);
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 6rem;
}

.hero__info h1 {
  width: 90%;
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.hero__info p {
  width: 70%;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.btn {
  padding: 1rem;
  margin-inline: .5rem;
  border-radius: 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.btn:hover {
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: .5s;
}

.btn__color {
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.btn__color:hover {
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: .5s;
}

.hero__picture img {
  width: 85rem;
}

/*== Sobro Nosotros ==*/

.container {
  padding: 4rem 6rem;
}

.sobre__info h2 {
  text-align: center;
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.sobre__info p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 1.6rem;
}

/*== SECTION CARDS ==*/

.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__info h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding-block: 2rem;
  font-family: var(--font);
  border-top: 1px solid rgb(246, 246, 246);
}

.card__info p {
  font-size: 1.6rem;
  padding-bottom: 40px;
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 80%;
  text-align: center;
  padding-bottom: 70px;
}

.benefits img {
  width: 40px;
}

.benefit__card {
  background-color: var(--color-white);
  width: 260px;
  min-height: 260px;
  border-radius: 20px;
  padding: 20px 0;
  margin-inline: 20px;
  text-align: center;
} 

.benefit__card:hover {
  box-shadow: 1px 1px 3px 1px;
  transition: 0.5s;
}

.benefit__card img {
  padding-bottom: 20px;
}

.benefit__card h3 {
  padding-bottom: 10px;
  font-family: var(--font);
}

.benefit__card p {
  line-height: 25px;
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
}

/*== FOOTER ==*/

footer {
  background-color: #7e82b8;
  color: var(--color-black);
}

footer h2 {
  font-family: var(--font);
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}

.footer__container {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}

.footer__container img {
  width: 30px;
}

iframe {
  border: none;
  border-radius: 4px;
}

.footer__container .redes {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer__container .redes img:hover {
  background-color: #2600ff;
  border: none;
  border-radius: 20px;
}

.adress,
.mail, 
.phone {
  display: flex;
  align-items: center;
  gap: 9px;
  padding-bottom: 20px;
}

@media screen and (max-width: 950px) {
  /*== THE HERO ==*/
  .container {
    display: block;
    margin-top: 2rem;
    text-align: center;
  }
  .hero__info p {
    text-align: center;
    width: 100%;
  }
  .hero__picture img {
    width: 30rem;
  }
/*== THE FOOTER ==*/
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
iframe {
  border: none;
  border-radius: 4px;
  width: 45rem;
}
}

@media screen and (max-width: 770px) {
    /*== MENU RESPONSIVE ==*/
    #check {
      display: none;
    }
    .checkbtn {
      display: block;
      position: fixed;
      top: 10px;
      right: 30px;
      font-size: 25px;
    }
    .navbar ul {
      display: block;
      position: fixed;
      top: 65px;
      left: -100%;
      width: 100%;
      height: 100vh;
      background-color: #000411;
      right: 0;
    }
    .navbar__menu li{
      padding: 2rem;
      color: #fff;
    }

    .navbar__menu li a{
      color: #fff;
    }
    #check:checked ~ ul {
      display: block;
      left: 0;
      cursor: pointer;
      transition: all .15s;
    }
}

@media screen and (max-width: 550px) {
  /*== THE HERO ==*/
  .hero__info h1 {
    width: 100%;
    font-family: var(--font);
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .btn {
    display: block;
    margin-bottom: 1.2rem;
  }
  /*== SERVICIO ==*/
  .card__info p {
    font-size: 1.6rem;
    width: 95%;
    text-align: center;
    padding-bottom: 40px;
  }
  /*== NOSOTROS ==*/
  .sobre__info p {
  text-align: center;
  width: 100%;
  }
  iframe {
    border: none;
    border-radius: 4px;
    width: 30rem;
  }
}

@media screen and (max-width: 388px) {
  /*== THE HERO ==*/
  .hero__info h1 {
    width: 99%;
    font-family: var(--font);
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  /*== SERVICIO ==*/
  .card__info p {
    font-size: 1.6rem;
    width: 95%;
    text-align: center;
    padding-bottom: 40px;
  }
  /*== NOSOTROS ==*/
  .sobre__info h2 {
    font-size: 2rem;
  }
  .sobre__info p {
  text-align: center;
  width: 100%;
  }
  iframe {
    border: none;
    border-radius: 4px;
    width: 28rem;
  }
  .btn {
  margin-bottom: 2rem;
  
  }
}

@media screen and (max-width: 288px) {
  /*== THE HERO ==*/
  .hero__info h1 {
    width: 99%;
    font-family: var(--font);
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  /*== SERVICIO ==*/
  .card__info p {
    font-size: 1.6rem;
    width: 95%;
    text-align: center;
    padding-bottom: 40px;
  }
  /*== NOSOTROS ==*/
  .sobre__info h2 {
    font-size: 1.2rem;
  }
  .sobre__info p {
  text-align: center;
  width: 100%;
  }
  .sobre__info h2 {
  text-align: center;
  font-size: 2.1rem;
  }
  iframe {
    border: none;
    border-radius: 4px;
    width: 25rem;
  }
  .btn {
  margin-bottom: 2rem;
  
  }
}

